@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    margin :0;
    padding:0;
    /* background-image: url("./"); */
    /* background-image:url("./images/gymback2.jpg"); */
}
*{
    scroll-behavior: smooth;
    box-sizing: border -box;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}
/*-------------------------- navigation bar startr  --------*/
header .container {
    /* border: 1px solid red; */
    padding : 20px;
    background-color:grey;
}

header .container .logo {
    /* border: 1px solid blue; */
    display: inline;
}

header .container .nav {
    /* border: 1px solid green; */
    display: flex;
    float: right;
    margin: 10px 30px 20px;

    
}

header .container .nav a{
    padding:1px 15px 1px ;
    background-color: whitesmoke;
    border: 1px solid red;
    text-decoration: none;
    font-size: 2rem;
    margin: 0px 2px 0px;
    color: black;
    
}
header .container .nav a:hover{
    background:rgb(228, 11, 11);
    border-radius:  20%;
    /* box-shadow: 4px 4px 11px 6px black; */
   
    
}

.container .logo span{
    font-size: 3rem;
    color: white;
}
.container .logo a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
}

.home{
     height:100vh ; 
    background-image: url(./images/gymback.jpg);
    background-size: cover;
    opacity :80%;
    display: flex;
    overflow-wrap: normal;
    padding: 20px;
    opacity: 0.855;
    width: 100vw;
    /* background-size: cover; */
}
/* ul{
   border:1px solid red;
} */

.home .card {
    margin : 10px;
    border: 2px solid rgb(255, 255, 255);
    height: 500px;
    
    /* background-color: white; */
    opacity: inherit;
}



.home .card:hover {
    opacity:1;
    box-shadow: 4px 11px 10px 6px black;
}

.home .card p {
    background-color: green;
    margin: 5px;
    padding: 10px;
    color: black;
    
}
.home .card span{
    display: block;
    background-color: rgb(189, 174, 174);
    opacity: 80%;
    font-size: 190%;
    box-shadow: 1px 1px 10px 6px black;
    margin: 10px;
    padding: 0px 140px 0px;
    font-weight: 900;
    color:black;

}

.contact {
    height: 100vh;
    background-color: burlywood;
}

/* .contact form {

} */