@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    margin :0;
    padding:0;
    /* background-image: url("./"); */
    /* background-image:url("./images/gymback2.jpg"); */
}
*{
    scroll-behavior: smooth;
    box-sizing: border -box;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}
/*-------------------------- navigation bar startr  --------*/
header .container {
    /* border: 1px solid red; */
    padding : 20px;
    background-color:grey;
}

header .container .logo {
    /* border: 1px solid blue; */
    display: inline;
}

header .container .nav {
    /* border: 1px solid green; */
    display: flex;
    float: right;
    margin: 10px 30px 20px;

    
}

header .container .nav a{
    padding:1px 15px 1px ;
    background-color: whitesmoke;
    border: 1px solid red;
    text-decoration: none;
    font-size: 2rem;
    margin: 0px 2px 0px;
    color: black;
    
}
header .container .nav a:hover{
    background:rgb(228, 11, 11);
    border-radius:  20%;
    /* box-shadow: 4px 4px 11px 6px black; */
   
    
}

.container .logo span{
    font-size: 3rem;
    color: white;
}
.container .logo a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
}

.home{
     height:100vh ; 
    background-image: url(./images/gymback.jpg);
    background-size: cover;
    opacity :80%;
    display: flex;
    overflow-wrap: normal;
    padding: 20px;
    opacity: 0.855;
    width: 100vw;
    /* background-size: cover; */
}
/* ul{
   border:1px solid red;
} */

.home .card {
    margin : 10px;
    border: 2px solid rgb(255, 255, 255);
    height: 500px;
    
    /* background-color: white; */
    opacity: inherit;
}



.home .card:hover {
    opacity:1;
    box-shadow: 4px 11px 10px 6px black;
}

.home .card p {
    background-color: green;
    margin: 5px;
    padding: 10px;
    color: black;
    
}
.home .card span{
    display: block;
    background-color: rgb(189, 174, 174);
    opacity: 80%;
    font-size: 190%;
    box-shadow: 1px 1px 10px 6px black;
    margin: 10px;
    padding: 0px 140px 0px;
    font-weight: 900;
    color:black;

}

.contact form {
    height: 100%;
    width: 100%;
    
 
}


.contact  {
    margin-top: 100px;
    text-align: center;
    background-color:lightblue;
  
    
    

    
}
.contact .box h1{
    padding: 30px;
    font-size: 32px;
    line-height: 10px;
}
form{
    margin-top:50px ;
}
.form-control{
   width: 60%;
   background: transparent;
   border: none;
   outline: none;
   border-bottom: 1px solid gray;
   color:black;
   font-size: 18px;
   margin-bottom: 16px;
}
input{
    height: 45px;
}
 .box .btn{
    background-color: coral;
    border-color: transparent;
    color:black;
    font-size: 20px;
    letter-spacing: 2px;
    display: block;
    width: 60%;
    margin-left: 20%;
    height: 50px;
    margin-top:20px ;
    transition: 0.4s ease;


}
.contact .box form .submit:hover{
    background-color: chartreuse;
    cursor: pointer;
}
.team{
    overflow: hidden;
    text-align: center;
    background: #34496e;
    padding: 60px;
}
.team h1{
    text-transform: uppercase;
    margin-bottom:60px ;
    color:white ;
    font-size: 40px;

}
.border{
    display: block;
    margin: auto;
    width: 1160px;
    height: 3px;
    background:#3498db ;
    margin-bottom: 40px;
}
.ps {
    margin-bottom: 40px;

}
.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all ;

}
.ps a:hover  img {
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: whitesmoke;
    text-align: justify;
    height: 0;
    overflow: hidden;
}
.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}


